
@{
    ViewBag.Title = "InsertProduct";
    int? data = ViewBag.Form;
}

<h2>InsertProduct</h2>
<form method="POST" action="/product/insertproduct">
    <div class="form-group">
        <label for="ProductId">Product Id:</label>
        <input type="text" class="form-control" id="ProductId" name="ProductId">
    </div>
    <div class="form-group">
        <label for="ProductName">Product Name:</label>
        <input type="text" class="form-control" id="ProductName" name="ProductName">
    </div>
    <div>
        <lable for="CategoryId">Category Id:</lable>
        <input value="@data" class="form-control"  id="CategoryId" name="CategoryId" />
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Add Product</button>
    </div>    
</form>





